/*****************************************************************************/
/* Colors
/* 030E13 Background
/* 475E69 Content Box (.content)
/* FFFFFF White
/* 458FE3 Blue Highlight
/*
/*****************************************************************************/

html {
  background-color: #030E13;
  color: #FFFFFF;
  font-family: "Old Standard TT", sans-serif;
}

a, a:hover, .date {
  color: #458FE3;
  text-decoration: none;
}

header a {
  color: #FFFFFF;
}

footer {
  margin-top: 40px;
  padding: 5px 0;
}

h1, h2, h3 ,h4, h5 {
  font-family: 'Josefin Slab', serif;
  color: #458FE3;
}

/*****************************************************************************/
/*
/* Mobile
/*
/*****************************************************************************/

.show-on-mobiles {
  display: none;
}

@media screen and (max-width: 568px) {
  .show-on-mobiles {
    display: block;
  }

  /* Minimize header's vertical space in tall narrow views */
  header {
    margin-bottom: 2em;
  }
  header .grid .unit {
    padding: 0 !important;
  }
  header .social {
    margin: 0;
  }
}

/*****************************************************************************/
/*
/* Meta
/*
/*****************************************************************************/

.meta a {
  font-weight: bold;
  transition: color .25s;
  -webkit-transition: color .25s;
}

/* (icons) github, twitter, ... */

.social {
  padding: 0;
}

.social a {
  display: inline-block;
  font-size: 32px;
  padding: 8px;
  text-align: center;
  vertical-align: middle;
}

.social li {
  display: inline-block;
  list-style-type: none;
}

/*****************************************************************************/
/*
/* Archive
/*
/*****************************************************************************/

.archive {
  list-style-type: none;
  line-height: 2em;
  font-size: 14px;
}

.archive .date {
  margin-right: 2em;
}

/*****************************************************************************/
/*
/* Post
/*
/*****************************************************************************/

.content {
  background: #2D3235;
}

.content + .content {
  margin-top: 30px;
}

.post p {
  line-height: 125%;
}

.post .highlight {
  padding: .2em .4em;
  margin: 0 1em;
}

.post .highlight code {
  padding: 0;
}

.post code {
  padding: .1em .4em;
}

.post .highlight, .post pre, .post code {
  background: #030E13;
}
