/*****************************************************************************/
/* Colors
/* 030E13 Background
/* 475E69 Content Box (.content)
/* FFFFFF White
/* 458FE3 Blue Highlight
/*
/*****************************************************************************/

html {
  background-color: #030E13;
  color: #FFFFFF;
  font-family: "Old Standard TT", sans-serif;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

hr, a:hover {
  color: #458FE3;
}

hr {
  border: 1px solid;
}

h1, h2, h3 ,h4, h5 {
  font-family: 'Josefin Slab', serif;
  color: #458FE3;
}


/*****************************************************************************/
/*
/* Meta
/*
/*****************************************************************************/

.date {
  color: #458FE3;
}

.meta a {
  font-weight: bold;
  transition: color .25s;
  -webkit-transition: color .25s;
}

footer {
  margin-top: 40px;
  padding: 5px 0;
}

footer a {
  text-decoration: underline;
}

/* (icons) github, twitter, ... */

.social a {
  display: inline-block;
  font-size: 32px;
  padding: 8px;
  text-align: center;
  vertical-align: middle;
}

.social li {
  display: inline-block;
  list-style-type: none;
}

/*****************************************************************************/
/*
/* Index
/*
/*****************************************************************************/

.posts {
  list-style-type: none;
  line-height: 2em;
  font-size: 14px;
}

.posts .date {
  margin-right: 2em;
}

/*****************************************************************************/
/*
/* Individual post
/*
/*****************************************************************************/

.content {
  background: #2D3235;
}

.content a {
  color: #458FE3;
}

.content + .content {
  margin-top: 30px;
}

.post p {
  line-height: 125%;
}

.post .highlight {
  padding: .2em .4em;
  margin: 0 1em;
}

.post .highlight code {
  padding: 0;
}

.post code {
  padding: .1em .4em;
}

.post .highlight, .post pre, .post code {
  background: #030E13;
}

/*****************************************************************************/
/*
/* Older/newer buttons
/*
/*****************************************************************************/

.section-nav a, .section-nav span {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 8px 12px 10px;
}

.section-nav a:hover {
  color: #458FE3;
}

.section-nav .next, .section-nav .prev {
  position: relative;
}

.section-nav .next:after, .section-nav .prev:before {
  font-size: 36px;
  color: #458FE3;
  font-weight: 800;
  text-shadow: 0 1px 0 rgba(255,255,255,.4);
  position: absolute;
  top: -7px;
}

.section-nav .next:after {
  content: "›";
  right: 10px;
}

.section-nav .prev:before {
  content: "‹";
  left: 10px;
}

.section-nav .prev, .section-nav .prev:hover {
  /*float: left;*/
  padding-left: 30px;
}

.section-nav .next, .section-nav .next:hover {
  /*float: right;*/
  padding-right: 30px;
}

.section-nav .disabled {
  opacity: .5;
  /*filter: alpha*/
  cursor: default;
}
