html {
  background-color: #030E13;
  font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
}

html, a {
  color: #FFFFFF;
  text-decoration: none;
}

a:hover {
  color: #458FE3;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
}

.posts li {
  line-height: 190%;
  font-size: 18px;
}

.posts a:hover {
  color: #FFFFFF;
}

.posts .date {
  color: #458585;
}

.posts .title {
  font-size: 160%;
}

/*****************************************************************************/
/*
/* Header, Footer, Contact
/*
/*****************************************************************************/

/* Contact */

.meta a {
  font-weight: bold;
  transition: color .25s;
  -webkit-transition: color .25s;
}

.contact a {
  display: inline-block;
  font-size: 32px;
  padding: 8px;
  text-align: center;
  vertical-align: middle;
}

/* Header */

.hero {
  background-size: cover;
  height: 300px;
  box-shadow: inset 0 0 30px rgba(0,0,0,.90);
}

header h1 {
  font-size: 2em;
}

nav li {
  display: inline-block;
  list-style-type: none;
}

/* Footer */

footer {
  background-color: #051C28;
  font-size: 18px;
  margin-top: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
}

footer .meta a {
  text-decoration: underline;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
