/*****************************************************************************/
/*
/*
/* Color scheme from http://www.colourlovers.com/palette/1406717/Manly_Minimalist
/*
/* Original Pallette:
/*    Dark:
/* 030E13 Lagoon Night
/* 051C28 Twilight Serinade 2
/*    Mid:
/* 143748 Raging Storm
/*    Bright:
/* 458FB3 Summer blues V
/* FFFFFF White
/*
/* Modifications:
/*    "Summer blues V" #458FB3 changed to #458FE3
/*
/*    Derivatives:
/* 143E4A Lighter version of 051C28 "Twilight Serinade 2" with less red (for code background)
/*
/*****************************************************************************/

html {
  background-color: #030E13;
  font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
}

a, p, h1, h2, h3 {
  color: #FFFFFF;
  text-decoration: none;
}

a:hover, hr {
  color: #458FE3;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
}

.posts li {
  line-height: 190%;
  font-size: 18px;
}

.posts, .posts a {
  color: #458FE3;
}

.posts .title {
  font-size: 160%;
}

/*****************************************************************************/
/*
/* Header, Footer, Contact
/*
/*****************************************************************************/

/* Contact */

.meta a {
  font-weight: bold;
  transition: color .25s;
  -webkit-transition: color .25s;
}

.contact a {
  display: inline-block;
  font-size: 32px;
  padding: 8px;
  text-align: center;
  vertical-align: middle;
}

/* Header */

.hero {
  background-size: cover;
  height: 300px;
  box-shadow: inset 0 0 30px rgba(0,0,0,.90);
}

header h1 {
  font-size: 2em;
}

nav li {
  display: inline-block;
  list-style-type: none;
}

/* Footer */

footer {
  font-size: 18px;
  margin-top: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
}

footer .meta a {
  text-decoration: underline;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.container {
  background-color: #051C28;
}

.highlight pre {
  /*background-color: #1A2623;*/
  background-color: #F8F8F8;
}

/* nav buttons */

.section-nav a, .section-nav span {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 8px 12px 10px;
}

.section-nav a:hover {
  color: #458FE3;
}

.section-nav .next, .section-nav .prev {
  position: relative;
}

.section-nav .next:after, .section-nav .prev:before {
  font-size: 36px;
  color: #458FE3;
  font-weight: 800;
  text-shadow: 0 1px 0 rgba(255,255,255,.4);
  position: absolute;
  top: -7px;
}

.section-nav .next:after {
  content: "›";
  right: 10px;
}

.section-nav .prev:before {
  content: "‹";
  left: 10px;
}

.section-nav .prev, .section-nav .prev:hover {
  /*float: left;*/
  padding-left: 30px;
}

.section-nav .next, .section-nav .next:hover {
  /*float: right;*/
  padding-right: 30px;
}

.section-nav .disabled {
  opacity: .5;
  /*filter: alpha*/
  cursor: default;
}


/* standard */

/*
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}
*/

.post .meta {
  color: #458FE3;
}

.post ul, .post ol {
  margin-left: 1.35em;
}


.post pre code {
  border: none;
}

