<div>
<!-- _base.html -->
<div class="g g-v">
    <!-- Header Nav -->
    <div class="g g-h g-top">
        <span class="g g-left u-small">numberoverzero</span>
        <nav class="g g-right">
            <span class="u-small">
                <a href="{{ SITEURL }}/posts">/blog</a>
            </span>
            <span class="u-small">
                <a href="https://github.com/numberoverzero">/gh</a>
            </span>
            <span class="u-small">
                <a href="https://www.linkedin.com/in/numberoverzero">/in</a>
            </span>
        </nav>
    </div>
</div>
<!-- Body -->
{% block content %}
{% endblock %}
</div>
