<header>
  <div class="grid meta">
    <div class="unit half center-on-mobiles">
      <h1><a href="{{ site.baseurl }}">number<br />over<br />zero</a></h1>
    </div>
    <nav class="unit half align-right center-on-mobiles">
      <ul class="contact">
        <li><a href="http://github.com/numberoverzero/"><i class="icon-github"></i></a></li>
        <li><a href="http://twitter.com/numberoverzero/"><i class="icon-twitter"></i></a></li>
        <li><a href="http://www.linkedin.com/in/numberoverzero/"><i class="icon-linkedin"></i></a></li>
        <li><a href="mailto:joe.mcross@gmail.com"><i class="icon-envelope"></i></a></li>
      </ul>
    </nav>
  </div>
</header>
