<div class="section-nav">
  <div class="unit half align-left">
    {% if page.previous != null %}
      <a href="{{ page.previous.url }}" class="prev">
        Older
      </a>
    {% else %}
      <span class="prev disabled">Oldest</span>
    {% endif %}
  </div>
  <div class="unit half align-right">
    {% if page.next != null %}
      <a href="{{ page.next.url }}" class="next">
        Newer
      </a>
    {% else %}
      <span class="next disabled">Newest</span>
    {% endif %}
  </div>
  <div class="clear"></div>
</div>
