/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  background: #fdf6e3;
  color: #657b83; }

h1, h2, h3, h4 {
  color: #b58900; }

a {
  color: #b58900; }
  a:hover, a:active, a:visited {
    color: #b58900; }

.quiet {
  color: #586e75; }

code, pre {
  background: #eee8d5;
  color: #657b83; }

.highlight .hll {
  background-color: #ffffcc; }
.highlight .c {
  color: #93a1a1;
  font-style: italic; }
.highlight .err {
  color: #dc322f; }
.highlight .g {
  color: #657b83; }
.highlight .k {
  color: #859900; }
.highlight .l {
  color: #657b83; }
.highlight .n {
  color: #586e75; }
.highlight .o {
  color: #657b83; }
.highlight .x {
  color: #657b83; }
.highlight .p {
  color: #657b83; }
.highlight .ch {
  color: #93a1a1;
  font-style: italic; }
.highlight .cm {
  color: #93a1a1;
  font-style: italic; }
.highlight .cp {
  color: #93a1a1;
  font-style: italic; }
.highlight .cpf {
  color: #93a1a1;
  font-style: italic; }
.highlight .c1 {
  color: #93a1a1;
  font-style: italic; }
.highlight .cs {
  color: #93a1a1;
  font-style: italic; }
.highlight .gd {
  color: #657b83; }
.highlight .ge {
  color: #657b83; }
.highlight .gr {
  color: #657b83; }
.highlight .gh {
  color: #657b83; }
.highlight .gi {
  color: #657b83; }
.highlight .go {
  color: #657b83; }
.highlight .gp {
  color: #657b83; }
.highlight .gs {
  color: #657b83; }
.highlight .gu {
  color: #657b83; }
.highlight .gt {
  color: #657b83; }
.highlight .kc {
  color: #859900; }
.highlight .kd {
  color: #859900; }
.highlight .kn {
  color: #cb4b16; }
.highlight .kp {
  color: #cb4b16; }
.highlight .kr {
  color: #859900; }
.highlight .kt {
  color: #859900; }
.highlight .ld {
  color: #657b83; }
.highlight .m {
  color: #2aa198; }
.highlight .s {
  color: #2aa198; }
.highlight .na {
  color: #657b83; }
.highlight .nb {
  color: #268bd2; }
.highlight .nc {
  color: #268bd2; }
.highlight .no {
  color: #b58900; }
.highlight .nd {
  color: #cb4b16; }
.highlight .ni {
  color: #cb4b16; }
.highlight .ne {
  color: #cb4b16; }
.highlight .nf {
  color: #268bd2; }
.highlight .nl {
  color: #657b83; }
.highlight .nn {
  color: #b58900; }
.highlight .nx {
  color: #657b83; }
.highlight .py {
  color: #268bd2; }
.highlight .nt {
  color: #859900; }
.highlight .nv {
  color: #cb4b16; }
.highlight .ow {
  color: #859900; }
.highlight .w {
  color: #fdf6e3; }
.highlight .mb {
  color: #2aa198; }
.highlight .mf {
  color: #2aa198; }
.highlight .mh {
  color: #2aa198; }
.highlight .mi {
  color: #2aa198; }
.highlight .mo {
  color: #2aa198; }
.highlight .sa {
  color: #2aa198; }
.highlight .sb {
  color: #2aa198; }
.highlight .sc {
  color: #2aa198; }
.highlight .dl {
  color: #2aa198; }
.highlight .sd {
  color: #2aa198; }
.highlight .s2 {
  color: #2aa198; }
.highlight .se {
  color: #cb4b16; }
.highlight .sh {
  color: #2aa198; }
.highlight .si {
  color: #cb4b16; }
.highlight .sx {
  color: #2aa198; }
.highlight .sr {
  color: #2aa198; }
.highlight .s1 {
  color: #2aa198; }
.highlight .ss {
  color: #2aa198; }
.highlight .bp {
  color: #268bd2;
  font-weight: bold; }
.highlight .fm {
  color: #268bd2; }
.highlight .vc {
  color: #268bd2; }
.highlight .vg {
  color: #268bd2; }
.highlight .vi {
  color: #268bd2; }
.highlight .vm {
  color: #cb4b16; }
.highlight .il {
  color: #2aa198; }

.large {
  font-size: 450%; }

.medium {
  font-size: 250%; }

.small {
  font-size: 150%; }

.tiny {
  font-size: 110%; }

header {
  text-align: right;
  background: #eee8d5;
  padding: 0.5em 1em;
  margin-top: 2em;
  margin-bottom: 0.3em; }
  header > * {
    margin-left: auto;
    margin-right: 0; }
  header nav ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    header nav ul > li {
      display: inline; }
  header nav a {
    margin-left: 0.5em;
    text-decoration: none; }
  header nav a:hover, header nav a:active, header nav a:focus {
    text-decoration: underline;
    background: inherit; }

.article-header {
  padding: 4em 1em;
  margin-bottom: 2em;
  text-align: right;
  background: #002b36;
  color: #b58900; }
  .article-header > span {
    display: block; }

.article-content {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4em;
  min-width: 32em;
  max-width: 52em; }
  @media (max-width: 1100px) {
    .article-content {
      margin-left: 10px;
      margin-right: 10px; } }

html {
  font-family: Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5; }

a {
  outline: none; }
  a:hover, a:active {
    outline: none;
    background: #eee8d5; }

h1, h2, h3, h4 {
  font-family: Times New Roman, serif;
  margin-top: 1.5em;
  margin-bottom: 1.5em; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.5em; }

code, pre {
  font-family: monospace; }

code {
  padding: 0.15em; }

pre {
  padding: 1em;
  line-height: 1.15;
  word-wrap: normal;
  overflow-x: auto;
  white-space: pre-wrap; }

p, pre {
  margin-bottom: 0.5em; }

ol {
  list-style-type: decimal; }

ul, ol {
  padding-left: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  list-style-position: outside; }

ul {
  list-style-type: square; }
