// ===========================================================================
// RESET =====================================================================
// ===========================================================================

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

// ===========================================================================
// COLORS ====================================================================
// ===========================================================================

// from http://ethanschoonover.com/solarized
$base03:  #002b36;
$base02:  #073642;
$base01:  #586e75;
$base00:  #657b83;
$base0:   #839496;
$base1:   #93a1a1;
$base2:   #eee8d5;
$base3:   #fdf6e3;
$yellow:  #b58900;
$orange:  #cb4b16;
$red:     #dc322f;
$magenta: #d33682;
$violet:  #6c71c4;
$blue:    #268bd2;
$cyan:    #2aa198;
$green:   #859900;

html {
  background: $base3;
  color: $base00;
}

h1, h2, h3, h4 {
  color: $yellow;
}

a {
  color: $yellow;
  &:hover, &:active, &:visited { color: $yellow }
}

.quiet {
  color: $base01;
}

code, pre {
  background: $base2;
  color: $base00;
}

// pip install pygments-style-solarized
// pygmentize -S solarizedlight -f html > solarizedlight.css
.highlight {
  // TODO background, color
  // previous:
  //     background: #2f1e2e;
  //     color: #e7e9db;

  //background: $base2;
  //color: $base00;

  .hll { background-color: #ffffcc }
  // Comment
  .c { color: $base1; font-style: italic }
  // Error
  .err { color: $red }
  // Generic
  .g { color: $base00 }
  // Keyword
  .k { color: $green }
  // Literal
  .l { color: $base00 }
  // Name
  .n { color: $base01 }
  // Operator
  .o { color: $base00 }
  // Other
  .x { color: $base00 }
  // Punctuation
  .p { color: $base00 }
  // Comment.Hashbang
  .ch { color: $base1; font-style: italic }
  // Comment.Multiline
  .cm { color: $base1; font-style: italic }
  // Comment.Preproc
  .cp { color: $base1; font-style: italic }
  // Comment.PreprocFile
  .cpf { color: $base1; font-style: italic }
  // Comment.Single
  .c1 { color: $base1; font-style: italic }
  // Comment.Special
  .cs { color: $base1; font-style: italic }
  // Generic.Deleted
  .gd { color: $base00 }
  // Generic.Emph
  .ge { color: $base00 }
  // Generic.Error
  .gr { color: $base00 }
  // Generic.Heading
  .gh { color: $base00 }
  // Generic.Inserted
  .gi { color: $base00 }
  // Generic.Output
  .go { color: $base00 }
  // Generic.Prompt
  .gp { color: $base00 }
  // Generic.Strong
  .gs { color: $base00 }
  // Generic.Subheading
  .gu { color: $base00 }
  // Generic.Traceback
  .gt { color: $base00 }
  // Keyword.Constant
  .kc { color: $green }
  // Keyword.Declaration
  .kd { color: $green }
  // Keyword.Namespace
  .kn { color: $orange }
  // Keyword.Pseudo
  .kp { color: $orange }
  // Keyword.Reserved
  .kr { color: $green }
  // Keyword.Type
  .kt { color: $green }
  // Literal.Date
  .ld { color: $base00 }
  // Literal.Number
  .m { color: $cyan }
  // Literal.String
  .s { color: $cyan }
  // Name.Attribute
  .na { color: $base00 }
  // Name.Builtin
  .nb { color: $blue }
  // Name.Class
  .nc { color: $blue }
  // Name.Constant
  .no { color: $yellow }
  // Name.Decorator
  .nd { color: $orange }
  // Name.Entity
  .ni { color: $orange }
  // Name.Exception
  .ne { color: $orange }
  // Name.Function
  .nf { color: $blue }
  // Name.Label
  .nl { color: $base00 }
  // Name.Namespace
  .nn { color: $yellow }
  // Name.Other
  .nx { color: $base00 }
  // Name.Property
  .py { color: $blue }
  // Name.Tag
  .nt { color: $green }
  // Name.Variable
  .nv { color: $orange }
  // Operator.Word
  .ow { color: $green }
  // Text.Whitespace
  .w { color: $base3 }
  // Literal.Number.Bin
  .mb { color: $cyan }
  // Literal.Number.Float
  .mf { color: $cyan }
  // Literal.Number.Hex
  .mh { color: $cyan }
  // Literal.Number.Integer
  .mi { color: $cyan }
  // Literal.Number.Oct
  .mo { color: $cyan }
  // Literal.String.Affix
  .sa { color: $cyan }
  // Literal.String.Backtick
  .sb { color: $cyan }
  // Literal.String.Char
  .sc { color: $cyan }
  // Literal.String.Delimiter
  .dl { color: $cyan }
  // Literal.String.Doc
  .sd { color: $cyan }
  // Literal.String.Double
  .s2 { color: $cyan }
  // Literal.String.Escape
  .se { color: $orange }
  // Literal.String.Heredoc
  .sh { color: $cyan }
  // Literal.String.Interpol
  .si { color: $orange }
  // Literal.String.Other
  .sx { color: $cyan }
  // Literal.String.Regex
  .sr { color: $cyan }
  // Literal.String.Single
  .s1 { color: $cyan }
  // Literal.String.Symbol
  .ss { color: $cyan }
  // Name.Builtin.Pseudo
  .bp { color: $blue; font-weight: bold }
  // Name.Function.Magic
  .fm { color: $blue }
  // Name.Variable.Class
  .vc { color: $blue }
  // Name.Variable.Global
  .vg { color: $blue }
  // Name.Variable.Instance
  .vi { color: $blue }
  // Name.Variable.Magic
  .vm { color: $orange }
  // Literal.Number.Integer.Long
  .il { color: $cyan }
}


// ===========================================================================
// STYLE =====================================================================
// ===========================================================================

$sans-serif: Arial, sans-serif;
$serif: Times New Roman, serif;
$monospace: monospace;

.large {
  font-size: 450%;
}

.medium {
  font-size: 250%;
}

.small {
  font-size: 150%;
}

.tiny {
  font-size: 110%;
}

header {
  text-align: right;
  & > * {
    margin-left: auto;
    margin-right: 0;
  }

  background: $base2;
  padding: 0.5em 1em;
  margin-top: 2em;
  margin-bottom: 0.3em;

  nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      & > li {
        display: inline;
      }
    }
    a {
      margin-left: 0.5em;
      text-decoration: none;
    }

    a:hover, a:active, a:focus {
      text-decoration: underline;
      background: inherit;
    }

  }
}

.article-header {
  padding: 4em 1em;
  margin-bottom: 2em;
  text-align: right;

  background: $base03;
  color: $yellow;
  & > span {
    display: block;
  }
}

.article-content {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4em;
  min-width: 32em;
  max-width: 52em;

  @media (max-width: 1100px) {
    margin-left: 10px;
    margin-right: 10px;
  }
}

html {
  font-family: $sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

a {
  outline: none;

  &:hover, &:active {
    outline: none;
    background: $base2;
  }
}

h1, h2, h3, h4 {
  font-family: $serif;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

strong {
  font-weight: bold;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

code, pre {
  font-family: $monospace;
}

code {
  padding: 0.15em;
}

pre {
  padding: 1em;
  line-height: 1.15;
  word-wrap: normal;
  overflow-x: auto;
  white-space: pre-wrap;
}

p, pre {
  margin-bottom: 0.5em;
}

ol {
  list-style-type: decimal;
}

ul, ol {
  padding-left: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  list-style-position: outside;
}
