@media (max-width: 1023px) {
  .container {
    max-width: 90vw; } }
@media (min-width: 1024px) {
  .container {
    max-width: 80vw; } }
@media (min-width: 1280px) {
  .container {
    max-width: 70vw; } }

.u-large {
  font-size: 4.5vw;
  line-height: 1.2em; }
  @media (max-width: 1000px) {
    .u-large {
      font-size: 45px; } }
  @media (min-width: 1777.77778px) {
    .u-large {
      font-size: 80px; } }

.u-medium, h2 {
  font-size: 3vw;
  line-height: 1.2em; }
  @media (max-width: 1166.66667px) {
    .u-medium, h2 {
      font-size: 35px; } }
  @media (min-width: 1666.66667px) {
    .u-medium, h2 {
      font-size: 50px; } }

.u-small {
  font-size: 2vw;
  line-height: 1.2em; }
  @media (max-width: 1000px) {
    .u-small {
      font-size: 20px; } }
  @media (min-width: 1750px) {
    .u-small {
      font-size: 35px; } }

.u-tiny {
  font-size: 0.5vw;
  line-height: 1.2em; }
  @media (max-width: 2000px) {
    .u-tiny {
      font-size: 10px; } }
  @media (min-width: 4000px) {
    .u-tiny {
      font-size: 20px; } }

.u-left {
  text-align: left; }

.u-center {
  text-align: center; }

.u-right {
  text-align: right; }

.u-block {
  display: block; }

h1, h2, h3, h4 {
  font-weight: 500;
  color: #06b6ef;
  font-family: Arial, sans-serif; }

html {
  font-size: 2vw;
  line-height: 135%;
  font-family: Times New Roman, serif; }
  @media (max-width: 800px) {
    html {
      font-size: 16px; } }
  @media (min-width: 1000px) {
    html {
      font-size: 20px; } }

.highlighttable {
  font-size: 2.1vw; }
  @media (max-width: 761.90476px) {
    .highlighttable {
      font-size: 16px; } }
  @media (min-width: 1000px) {
    .highlighttable {
      font-size: 21px; } }

nav span {
  padding-right: 1.5%; }
  nav span a {
    text-decoration: none;
    outline: none; }
  nav span a:hover, nav span a:active, nav span a:focus {
    text-decoration: underline; }

a {
  color: #06b6ef; }

.g {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: inherit;
          flex-direction: inherit; }

.g-h {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  .g-h > .g-left {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .g-h > .g-center-h {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .g-h > .g-right {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .g-h > .g-top {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .g-h > .g-center-v {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .g-h > .g-bottom {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }

.g-v {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .g-v > .g-left {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .g-v > .g-center-h {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .g-v > .g-right {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .g-v > .g-top {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .g-v > .g-center-v {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .g-v > .g-bottom {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }

code {
  color: #e7e9db;
  background-color: #2f1e2e;
  font-size: 0.95em;
  padding: 0.15em; }

.linenos {
  color: #776e71;
  padding-right: 10px; }

.highlighttable {
  background-color: #2f1e2e;
  padding: 5px 10px;
  min-width: 100%; }

li > .highlighttable {
  min-width: 0; }

.highlight {
  background: #2f1e2e;
  color: #e7e9db; }
  .highlight .hll {
    background-color: #4f424c; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gs, .highlight .gu, .highlight .gh, .highlight .gp {
    font-weight: bold; }
  .highlight .na, .highlight .nf, .highlight .nx, .highlight .fm {
    color: #06b6ef; }
  .highlight .kt, .highlight .nc, .highlight .nn {
    color: #fec418; }
  .highlight .o, .highlight .kn, .highlight .nd, .highlight .nt, .highlight .ow, .highlight .gu {
    color: #5bc4bf; }
  .highlight .n, .highlight .p, .highlight .gh, .highlight .nb, .highlight .ni, .highlight .nl, .highlight .py, .highlight .w, .highlight .sc {
    color: #e7e9db; }
  .highlight .k, .highlight .kc, .highlight .kd, .highlight .kp, .highlight .kr {
    color: #815ba4; }
  .highlight .err, .highlight .gd, .highlight .no, .highlight .ne, .highlight .nv, .highlight .vc, .highlight .vg, .highlight .vi, .highlight .vm {
    color: #ef6155; }
  .highlight .c, .highlight .ch, .highlight .cm, .highlight .cp, .highlight .cpf, .highlight .c1, .highlight .cs, .highlight .gp, .highlight .sd {
    color: #776e71; }
  .highlight .gi, .highlight .ld, .highlight .s, .highlight .sa, .highlight .sb, .highlight .dl, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .sr, .highlight .s1, .highlight .ss {
    color: #48b685; }
  .highlight .l, .highlight .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo, .highlight .se, .highlight .si, .highlight .bp, .highlight .il {
    color: #f99b15; }
